@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(147,51,234,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}
